<div class="jumbotron">
    <h1><a href="{{article.url}}" class="articleTitle">{{article.title}}</a></h1>
    <p class="lead">By: {{article.author}}</p>

    <div class="input-group mb-3">
        <input type="text" class="form-control bg-light" id="comment" placeholder="Comment">
        <div class="input-group-append">
            <button class="articleButton btn" type="submit" id="submit" data-id="{{article.id}}">Submit</button>
        </div>
    </div>


    <div id="comments">
        {{#each article.comments}}
        {{#if this.exists}}
        <div id={{this._id}}>
            <button type="button" class="btn btn-light btn-sm delete" data-id="{{this._id}}" data-commentId="{{this._id}}"><img src="/assets/open-iconic-master/svg/trash.svg" alt="icon name"></button>
            {{this.body}}
        </div>
        {{/if}}
        {{/each}}

    </div>
</div>